/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

:root {
  --iou-activity-bg-color: lightblue;
  --iou-solution-bg-color: lightgreen;
  --iou-learner-bg-color: lightyellow;
  --iou-tutor-bg-color: lightpink;
}

/*
The current approach is brittle because the extension allows
the tags, which are mapped onto cell classes, to be user specified
away from the empinken cell types.

Define classes for the base empinken cell types and default tag settings.
*/

.cell-tag-style-activity,
body[data-notebook='notebooks'] .jp-Notebook .jp-Cell.jp-MarkdownCell.jp-Notebook-cell.jp-mod-active.cell-tag-style-activity,
.iou-activity-node {
  background-color: var(--iou-activity-bg-color) !important;
}

.cell-tag-style-solution,
body[data-notebook='notebooks'] .jp-Notebook .jp-Cell.jp-MarkdownCell.jp-Notebook-cell.jp-mod-active.cell-tag-style-solution,
.iou-solution-node {
  background-color: var(--iou-solution-bg-color) !important;
}

/* For the learner and student empinken cell types, 
the default partial tag is different to the cell type.
So go defensive.
*/
.cell-tag-style-learner,
.cell-tag-style-student,
body[data-notebook='notebooks'] .jp-Notebook .jp-Cell.jp-MarkdownCell.jp-Notebook-cell.jp-mod-active.cell-tag-style-learner,
body[data-notebook='notebooks'] .jp-Notebook .jp-Cell.jp-MarkdownCell.jp-Notebook-cell.jp-mod-active.cell-tag-style-student,
.iou-learner-node {
  background-color: var(--iou-learner-bg-color) !important;
}

.cell-tag-style-tutor,
.cell-tag-style-commentate,
body[data-notebook='notebooks'] .jp-Notebook .jp-Cell.jp-MarkdownCell.jp-Notebook-cell.jp-mod-active.cell-tag-style-tutor,
body[data-notebook='notebooks'] .jp-Notebook .jp-Cell.jp-MarkdownCell.jp-Notebook-cell.jp-mod-active.cell-tag-style-commentate,
.iou-tutor-node {
  background-color: var(--iou-tutor-bg-color) !important;
}
